@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');  /* importing fonts from google fonts*/
*{
    margin: 0;                                                    
    padding:0;                     /* adjusting basic values - set to 0*/                 
    border:0;
}
body { 
  font-family: 'Ubuntu', sans-serif;
  text-align: center;                            
  width: 70%;                                     /*basic body style*/
  max-width: 700px;
  margin: auto;
}
img{                                                                                                       
  height: 300px;                                  /* adjusting size of image*/          
}
.inst {                                          
  display:flex;
  padding: 10px;
  margin: 10px;                             
}                                                  /* adjusting position game instructions for player 1 and and player 2 */ 
.inst div {
  padding: 10px;
  margin: 10px;  
} 