@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');  /* importing fonts from google fonts*/
*{
    margin: 0;                                                    
    padding:0;                     /* adjusting basic values - set to 0*/                 
    border:0;
}
body { 
  font-family: 'Ubuntu', sans-serif;
  text-align: center;                            
  width: 70%;
  max-width: 700px;
  margin: auto;
}