@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');  /* importing fonts from google fonts*/
*{
    margin: 0;                                                    
    padding:0;                     /* adjusting basic values - set to 0*/                 
    border:0;
}
body { 
  font-family: 'Ubuntu', sans-serif;
  text-align: center;                            
  width: 70%;                                     /*basic body style*/
  max-width: 700px;
  margin: auto;
  background-color: #FFF8DC;
}
button {
  background-color: #4CAF50; /* Green */                  /*button style*/
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
img{                                                                                                       
  height: 300px;                                  /* adjusting size of image*/      
  border-radius: 50%;    
}
.inst {                                          
  display:flex;
  padding: 10px;
  margin: 10px;                             
}                                                  /* adjusting position game instructions for player 1 and and player 2 */ 
.inst div {
  padding: 10px;
  margin: 10px;  
} 
ul {
  list-style-type: none;                   
  margin: 0;                                     
  padding: 0;
}